@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

body{
    background-color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9b9b9b;
    padding-top: 100px;
    box-sizing: border-box;

}

/*========================================
            Navbar Section
=========================================*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100px;
    padding: 0;
    z-index: 1040;
    background: #fff;
    border-bottom: 1px solid #ededed;
}
.sticky-header{
    border-bottom: 0 !important;
    background-color: #fff !important;
    border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
}
.navbar > .container{
    position: relative;
    height: 100px;
    max-width: 1400px;
}
.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    line-height: 100px;
}
img {
   max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.navbar .nav-item {
    position: relative;
    margin-right: 30px;
}
.navbar .nav-item .nav-link {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: #1b1a1a;
    line-height: 100px;
    letter-spacing: .4px;
    text-decoration: none;
}
a {
    color: inherit;
    transition: all .3s linear;
}

.navbar .nav-item .nav-link.active:before,
.navbar .nav-item .nav-link:hover:before {
    width: 100%;
}

.navbar .nav-item .nav-link:before {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    margin: auto;
    display: block;
    background-color: #1b1a1a;
    transition: .5s ease;
}

/*========================================
          Navbar Toggle Section
=========================================*/

.navbar .navbar-toggler{
    padding: 0;
    border: none;
    border-radius: 0;
    width: 23px;
    position: relative;
}
.navbar .navbar-toggler:focus{
    outline: 0;
    background: none;
}
.navbar .navbar-toggler span{
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: #000;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar .navbar-toggler[aria-expanded="true"] span:nth-child(1){
    transform: rotate(45deg) translate(6px, 6px);
}
.navbar .navbar-toggler[aria-expanded="true"] span:nth-child(2){
    opacity: 0;
}
.navbar .navbar-toggler[aria-expanded="true"] span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
}
.navbar .navbar-toggler[aria-expanded="true"] span{
    transform: none;
    opacity: 1;
}


@media (min-width: 1300px){
    .navbar > .container{
        padding-right: 35px;
        padding-left: 35px;
    }
}
@media (max-width: 991px){
    .header .navbar-expand-lg > .container, .header .navbar-expand-lg > .container-fluid{
        width: 100%;
        max-width: none;;
    }
    .header .navbar-brand{
        margin-left: 15px;
        line-height: 80px;
    }
    .header .navbar, .header .navbar > .container, .header .navbar > .container-fluid{
        height: 80px;
    }
    .navbar .navbar-collapse{
        background-color: #fff;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
        z-index: 50;
        padding: 15px 0;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
        transform: translateY(20px);
    }
    .navbar .menu-opened.navbar-collapse{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .navbar .navbar-toggler{
        position: absolute;
        right: 18px;
        height: 50px;
        vertical-align: middle;
    }
    .navbar .collapse:not(.show){
        display: block;
    }
    .navbar .nav-item .nav-link{
        display: block;
        padding-left: 15px;
        line-height: 1.6;
        color: #1a1b1b;

    }
    .navbar .nav-item{
        margin-right: 0;
    }
    .navbar .navbar-nav{
        margin: 0;
    }
    .navbar .nav-item .nav-link.active:before,
    .navbar .nav-item .nav-link:hover:before {
        display: none;
    }
}
.product-container{
	height: 100vh;
	width: 100%;
}
.form{
	max-width: 100%;
	width: 370px;
	padding:15px;
	margin: auto;
}
.form-control{
	font-size: 15px;
	min-width: 48px;
	font-weight: 500;
}





