{% extends "layout.html" %}
{% block content %} 

<h1 class="font-weight-normal text-uppercase text-center mt-4">Product Report</h1>
<div class="container d-flex align-items-center justify-content-center mt-4">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">WAREHOUSE</th>
                <th scope="col">QUANTITY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}